* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: Arial, sans-serif;
    background: beige;
}

.container {
    max-width: 700px;
    margin: 0 auto;
}

header, footer, main {
    padding: 20px;
    background-color: white;
    color: black;
}

header h1 {
    font-family: "Libre Baskerville", serif;
    text-transform: capitalize;
    font-size: 3.68em;
    line-height: 1.4em;
}

.pullquote {
    font-style: italic;
    font-size: 1.3em;
    color: #d64545;
    margin: 35px 0;
    font-weight: bold;
}

main p {
    line-height: 1.6em;
}